<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
    
      <ul>
        <% book.errors.full_message.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :folder_id %>
    <%= f.number_field:folder_id %>
  </div>
  <div class="field">
    <%= f.label :label_id %>
    <%= f.number_field :label_id %>
  </div>
  <div class="field">
    <%= f.label :due_day %>
    <%= f.date_select :due_day %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
