<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>User:</strong>
  <%= User.find(@task.user_id).user_name %>
</p>
<p>
  <strong>Folder:</strong>
  <%= @task.folder_id %>
</p>
<p>
  <strong>Label:</strong>
  <%= @task.label_id %>
</p>
<p>
  <strong>Due date:</strong>
  <%= @task.due_day %>
</p>

<br>

<div id="comments">
  <% @comments.each do |comment| %>
    <p>
      <strong><%= User.find(comment.user_id).user_name %></strong>
      <%= comment.body %>
    </p>
    <% if comment.user_id == @current_user.id %>
      <%= link_to "Delete", comment, method: :delete %>
    <% end %>
  <% end %>
  <%= render "comment", comment: @comment, task: @task %>
</div>

<% if @task.user_id == @current_user.id %>
<%= link_to "Delete", @task, method: :delete, data: {confirm: "本当に削除しますか？"} %>
<br>
  <%= link_to "Edit", edit_task_url %>
<% end %>

<%= link_to "Back", tasks_url %>
