<!DOCTYPE html>
<html>
  <head>
    <title>TaskHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @current_user != nil %> 
        <%= @current_user.user_name %>さん、ようこそ
        <%= link_to "ログアウト", "login/destroy", method: :delete %>
      <% elsif %>
        <%= link_to "ログイン", login_url %>
      <% end %>

      <br>
      <br>

      <%= link_to "Task", tasks_url %> | 
      <%= link_to "User", users_url %>
    <%= yield %>
  </body>
</html>
